

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgb(191, 171, 212);
 }

 .container{
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
 }

 .addTask{
    width: 100%;
    display: flex;
    padding: 10px 0;
 }

 .addTask > input[type="text"]{
    width: 90%;
    color:rgb(119, 138, 173);
    border-bottom: 2px solid #666;
    background: rgb(216, 204, 204);
    padding: 10px;
    font-size:22px;
 }

 .addTask button{
    margin: 0 10px;
    background: rgb(216, 204, 204);
    color: rgb(119, 114, 189);
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
 }

 .notCompleted, .Completed{
    margin: 5px 0;
    padding: 20px;
 }
 h3{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
 }

 ol li{
    width: 100%;
    padding: 18px;
    margin: 5px 0;
    background:rgb(201, 121, 121);
    font-size: 22px;
 }

 ol.Completed li{
    background: rgb(65, 173, 65);
 }

 li button{
    float: right;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
 }

h2{
    text-align: center;
    font-size: 30px;
}   

.addTask {
   display: flex;
   justify-content: center;
}